<nav class="navbar">

  <div class="navbar__container">

    <a
      class="navbar__logo"
      routerLink="/">

      CONTROL HORARIO

    </a>

    <ul class="navbar__menu">

      <li>
        <a href="#objetivo">
          Objetivo
        </a>
      </li>

      <li>
        <a href="#ventajas">
          Ventajas
        </a>
      </li>

      <li>
        <a href="#features">
          Características
        </a>
      </li>

      <li>
        <a href="#help">
          Ayuda
        </a>
      </li>

    </ul>

  </div>

</nav>