<section class="hero-jornada">

  <div class="hero-jornada__container">

    <div class="hero-jornada__clock">

      15 : 00 : 00

    </div>

    <div class="hero-jornada__content">

      <span class="hero-jornada__badge">

        {{ hero.badge }}

      </span>

      <h1 class="hero-jornada__title">

        {{ hero.titleLineOne }}

        <br>

        <span class="hero-jornada__indent-j">

          {{ hero.titleLineTwo }}

        </span>

        <br>

        <span class="hero-jornada__indent-l">

          <span class="text-pink">

            {{ hero.highlightedWord }}

          </span>

        </span>

      </h1>

    </div>

  </div>

</section>