.accordion-item {

  border-bottom:
    1px solid rgba(
      255,
      255,
      255,
      .15
    );

}

.accordion-item button {

  width: 100%;

  background: transparent;

  border: none;

  color: rgb(0, 0, 0);

  text-align: left;

  padding:
    var(--space-md)
    0;

  cursor: pointer;

  font-size: 1rem;

  font-weight: 600;

}

.accordion-content {

  padding-bottom:
    var(--space-md);

}

.accordion-content p {

  color:
    rgba(0, 0, 0, 0.7);

  line-height: 1.6;

}