<section class="objetivo-section" id="Objetivos">

  <div class="objetivo-section__container">

    <div class="objetivo-section__card">

      <h2>

        {{ content.title }}

      </h2>

      <h3>

        REGISTRO

        <span class="text-pink">

          JORNADA

        </span>

      </h3>

      <div class="objetivo-section__content">

        <p>

          {{ content.description }}

        </p>

        <p class="objetivo-section__highlight">

          <strong>

            OBJETIVO:

          </strong>

          <br>

          {{ content.objective }}

        </p>

      </div>

    </div>

  </div>

</section>